.page-cap {
  height: 50px;
  margin-bottom: 30px;
  padding: 5px 0 0;
  background-color: #292929;
  background-image: url("images/section-hero.png");
  background-repeat: no-repeat;
  background-position: right -60px;
  background-attachment: fixed;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.page-cap .row > div {
  display: flex;
  align-items: center;
  flex: 1;
}

.page-cap .row > div:nth-child(2) {
  justify-content: flex-end;
}

.page-cap h2 {
  margin: 0;
  font-size: 1.88rem;
  font-weight: 800;
  letter-spacing: 4px;
  text-shadow: 2px 2px 2px #000;
  text-transform: uppercase;
}

.page-cap p {
  margin: 7px 0;
  padding: 0;
  font-size: 16px;
  text-shadow: 2px 2px 2px #000;
}

@media (max-width: 767px) {

  .page-cap h2 {
    font-size: 1.38rem;
  }
}
