.photo-list {
  margin-bottom: 30px;

  .feature-options {
    text-align: center;

    h3 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  .feature-description {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  summary {
    color: #333;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.56rem;
  }

  .leftImage {

    .image-holder {
      width: 40%;
      float: left;
      margin: 0 30px 30px 0;
    }

    .summary {
      text-align: left;
    }
  }

  .rightImage {
    
    .image-holder {
      width: 40%;
      margin: 0 0 30px 30px;
      float: right;
    }

    .summary {
      text-align: left;
    }
  }

  a .headline {
    color: #5b5b5b;
  }

  // column fix
  @media (min-width: 992px) {

    .col-lg-3 {
      flex: 0 0 24.5%;
      max-width: 24.5%;
    }
  }

  @media (min-width: 768px) {

    .col-md-4 {
      flex: 0 0 33%;
      max-width: 33%;
    }
  }
}

@media (min-width: 767px) {

  .photo-list {
    
    .headline {
      font-size: 1.5rem;
      text-align: left;

      &.centered {
        text-align: center;
      }
    }

    summary {

      &.show-me-mobile {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {

  .photo-list {

    .headline {
      font-size: 1.38rem;
      text-align: left;

      &.centered {
        text-align: left;
      }
    }

    .leftImage .image-holder,
    .rightImage .image-holder {
      width: 100%;
      float: none;
      margin: 0 0 20px;
    }

    summary {
      
      &.show-me-mobile {
        display: block;
        text-align: left;
      }

      &.show-me {
        text-align: left;
      }
    }
  }
}
