$breakpoint-mobile: 576px;

$tab-max-width: 168px;
$tab-min-width: 85px;

.story-switch {

  text-align: center;
  color: #5b5b5b;

  // Headings

  &_heading {
    font-size: 28px;
    line-height: 32px;
    font-weight: 900;

    text-transform: uppercase;
    color: #5b5b5b;

    @media (min-width: $breakpoint-mobile) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  // Tabs

  &_tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }

  &_tab {
    max-width: $tab-max-width;
    min-width: $tab-min-width;
    flex: 1 1 $tab-min-width;

    margin: 10px 15px;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .3s ease;

    &:hover,
    &--selected {
      opacity: 1;
    }

    &_caption {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  // Content

  &_content {
    display: none;

    &--selected {
      display: block;
    }

    &_heading {
      font-size: 20px;
      line-height: 24px;

      font-weight: 900;
      color: #00b3f0;
      text-transform: uppercase;

      @media (min-width: $breakpoint-mobile) {
        font-size: 36px;
        line-height: 48px;
      }
    }
  }
}
